@model MVCBasico.Models.Turno

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>Turno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Cliente
        </dt>
        <dd class="col-sm-10">
            <select asp-for="IdCliente" asp-items="ViewBag.IdCliente">
                <option selected="selected" value="@Model.IdCliente">
                    
                </option>
            </select>
        </dd>
        <dt class = "col-sm-2">
            Turnera
        </dt>
        <dd class="col-sm-10">
            <select asp-for="IdTurnera" asp-items="ViewBag.IdTurnera">
                <option selected="selected" value="@Model.IdTurnera">
                    
                </option>
            </select>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTurno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTurno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTurno">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
